.photo-gallery {
    width: 100%;
    height: 700px; 
    overflow: hidden;
    position: relative;
  }
  
  .photo-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .photo-slide.active {
    opacity: 1;
  }